<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>C Plus Plus</title>
</head>

<body>

  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="inline-flex justify-start lg:mr-0 ml-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="php.html" class=""><b>🠔</b>Previous</a>
        </button>
      </div>
      <a class="flex lg:w-4/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 ml-">
        <span class="ml-3 text-xl">C Plus Plus</span>
      </a>
      <div class="inline-flex justify-end lg:ml-0 mr-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="java.html" class="">Next➞</a>
        </button>
      </div>
    </div>
  </header>
  
  <hr><hr>

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-10 py-5 mx-auto">
          <div class="-my-2 divide-y-2 divide-gray-100">
            <div class="py-2 flex flex-wrap md:flex-nowrap">
              <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-800 text-2xl">Question 01</span>
                <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is a Class ?</h2>
                <p class="leading-relaxed">The class is a user-defined data type. The class is declared with the keyword class. The class contains the data members, and member functions whose access is defined by the three modifiers are private, public and protected. The class defines the type definition of the category of things. It defines a datatype, but it does not define the data it just specifies the structure of data.</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 02</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Define token in C++.</h2>
                  <p class="leading-relaxed">A token in C++ can be a keyword, identifier, literal, constant and symbol.

            </p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 03</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Explain about Post-increment Pointer?</h2>
                  <p class="leading-relaxed">The post-increment operator increments the operand by 1, but the value of the expression will be the value of the operand prior to the incremented value of the operand. Suppose ptr is a pointer then post-increment pointer is represented as ptr++.

            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 04</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is an object?</h2>
                  <p class="leading-relaxed">The Object is the instance of a class. A class provides a blueprint for objects. So you can create an object from a class. The objects of a class are declared with the same sort of declaration that we declare variables of basic types.

            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 05</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is an overflow error?</h2>
                  <p class="leading-relaxed">It is a type of arithmetical error. It happens when the result of an arithmetical operation been greater than the actual space provided by the system.



            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 06</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is function overloading?</h2>
                  <p class="leading-relaxed">Function overloading is also a type of compile-time polymorphism which can define a family of functions with the same name. The function would perform different operations based on the argument list in the function call. The function to be invoked depends on the number of arguments and the type of the arguments in the argument list.



            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 07</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is function overriding?</h2>
                  <p class="leading-relaxed">If you inherit a class into a derived class and provide a definition for one of the base class's function again inside the derived class, then this function is called overridden function, and this mechanism is known as function overriding.



            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 08</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is a constructor?</h2>
                  <p class="leading-relaxed">A Constructor is a special method that initializes an object. Its name must be same as class name.



            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container px-10 py-5 mx-auto">
                      <div class="-my-2 divide-y-2 divide-gray-100">
                        <div class="py-2 flex flex-wrap md:flex-nowrap">
                          <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                            <span class="font-semibold title-font text-gray-800 text-2xl">Question 09</span>
                            <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                          </div>
                          <div class="md:flex-grow">
                            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is a pure virtual function?</h2>
                            <p class="leading-relaxed">The pure virtual function is a virtual function which does not contain any definition. The normal function is preceded with a keyword virtual. The pure virtual function ends with 0.
          
          
          
                      </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>

                    <div class="container px-10 py-5 mx-auto">
                                <div class="-my-2 divide-y-2 divide-gray-100">
                                  <div class="py-2 flex flex-wrap md:flex-nowrap">
                                    <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                      <span class="font-semibold title-font text-gray-800 text-2xl">Question 10</span>
                                      <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                                    </div>
                                    <div class="md:flex-grow">
                                      <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the difference between delete and delete[]?</h2>
                                      <p class="leading-relaxed">Delete [] is used to release the array of allocated memory which was allocated using new[] whereas delete is used to release one chunk of memory which was allocated using new.
                    
                    
                    
                                </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              



    </section>
</body>