<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>JavaScript</title>
</head>

<body>

  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="inline-flex justify-start lg:mr-0 ml-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="python.html" class=""><b>🠔</b>Previous</a>
        </button>
      </div>
      <a class="flex lg:w-4/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 ml-">
        <span class="ml-3 text-xl">JAVA SCRIPT</span>
      </a>
      <div class="inline-flex justify-end lg:ml-0 mr-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="#" class="">Next➞</a>
        </button>
      </div>
    </div>
  </header>

<hr><hr>

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-10 py-5 mx-auto">
          <div class="-my-2 divide-y-2 divide-gray-100">
            <div class="py-2 flex flex-wrap md:flex-nowrap">
              <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-800 text-2xl">Question 01</span>
                <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Define anonymous function</h2>
                <p class="leading-relaxed">It is a function that has no name. These functions are declared dynamically at runtime using the function operator instead of the function declaration. The function operator is more flexible than a function declaration. It can be easily used in the place of an expression.</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 02</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Define closure.</h2>
                  <p class="leading-relaxed">In JavaScript, we need closures when a variable which is defined outside the scope in reference is accessed from some inner scope.

            </p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 03</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the difference between JavaScript and JScript?</h2>
                  <p class="leading-relaxed">Netscape provided the JavaScript language. Microsoft changed the name and called it JScript to avoid the trademark issue. In other words, you can say JScript is the same as JavaScript, but Microsoft provides it.

            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 04</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is BOM?</h2>
                  <p class="leading-relaxed">BOM stands for Browser Object Model. It provides interaction with the browser. The default object of a browser is a window. So, you can call all the functions of the window by specifying the window or directly. The window object provides various properties like document, history, screen, navigator, location, innerHeight, innerWidth.

            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 05</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is DOM? What is the use of document object?
                </h2>
                  <p class="leading-relaxed">DOM stands for Document Object Model. A document object represents the HTML document. It can be used to access and change the content of HTML.



            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 06</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"> What is the difference between == and ===?</h2>
                  <p class="leading-relaxed">The == operator checks equality only whereas === checks equality, and data type, i.e., a value must be of the same type.



            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 07</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the output of 10+20+"30" in JavaScript?</h2>
                  <p class="leading-relaxed">3030 because 10+20 will be 30. If there is numeric value before and after +, it treats as binary + (arithmetic operator).





            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 08</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">How can you check if the event.preventDefault() method was used in an element?</h2>
                  <p class="leading-relaxed">When we use the event.defaultPrevent() method in the event object returns a Boolean indicating that the event.preventDefault() was called in a particular element.



            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container px-10 py-5 mx-auto">
                      <div class="-my-2 divide-y-2 divide-gray-100">
                        <div class="py-2 flex flex-wrap md:flex-nowrap">
                          <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                            <span class="font-semibold title-font text-gray-800 text-2xl">Question 09</span>
                            <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                          </div>
                          <div class="md:flex-grow">
                            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the difference between undefined value and null value?</h2>
                            <p class="leading-relaxed">Undefined value: A value that is not defined and has no keyword is known as undefined value.
                                Null value: A value that is explicitly specified by the keyword "null" is known as a null value.
          
          
          
                      </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>

                    <div class="container px-10 py-5 mx-auto">
                                <div class="-my-2 divide-y-2 divide-gray-100">
                                  <div class="py-2 flex flex-wrap md:flex-nowrap">
                                    <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                      <span class="font-semibold title-font text-gray-800 text-2xl">Question 10</span>
                                      <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                                    </div>
                                    <div class="md:flex-grow">
                                      <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the difference between View state and Session state?</h2>
                                      <p class="leading-relaxed">"View state" is specific to a page in a session whereas "Session state" is specific to a user or browser that can be accessed across all pages in the web application.
                    
                    
                    
                                </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              



    </section>
</body>