<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>php</title>
</head>

<body>

  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="inline-flex justify-start lg:mr-0 ml-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="#" class=""><b>🠔</b>Previous</a>
        </button>
      </div>
      <a class="flex lg:w-4/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 ml-">
        <span class="ml-3 text-xl">PHP</span>
      </a>
      <div class="inline-flex justify-end lg:ml-0 mr-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="cpp.html" class="">Next➞</a>
        </button>
      </div>
    </div>
  </header>

  <hr><hr>




    <section class="text-gray-600 body-font overflow-hidden">

        <div class="container px-10 py-5 mx-auto">
          <div class="-my-2 divide-y-2 divide-gray-100">
            <div class="py-2 flex flex-wrap md:flex-nowrap">
              <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-800 text-2xl">Question 01</span>
                <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is PHP?</h2>
                <p class="leading-relaxed">PHP stands for Hypertext Preprocessor. It is an open source server-side scripting language which is widely used for web development. It supports many databases like MySQL, Oracle, Sybase, Solid, PostgreSQL, generic ODBC etc.</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 02</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is PEAR in PHP?</h2>
                  <p class="leading-relaxed">PEAR is a framework and repository for reusable PHP components. PEAR stands for PHP Extension and Application Repository. It contains all types of PHP code snippets and libraries.

            </p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 03</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Explain the difference b/w static and dynamic websites?</h2>
                  <p class="leading-relaxed">In static websites, content can't be changed after running the script. You can't change anything on the site. It is predefined.

                    In dynamic websites, content of script can be changed at the run time. Its content is regenerated every time a user visit or reload. Google, yahoo and every search engine is the example of dynamic website.

            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 04</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"> What is "echo" in PHP?</h2>
                  <p class="leading-relaxed">PHP echo output one or more string. It is a language construct not a function. So the use of parentheses is not required. But if you want to pass more than one parameter to echo, the use of parentheses is required.

            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 05</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the difference between "echo" and "print" in PHP?
                </h2>
                  <p class="leading-relaxed">Echo can output one or more string but print can only output one string and always returns 1.

                    Echo is faster than print because it does not return any value


            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 06</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What are magic constants in PHP?</h2>
                  <p class="leading-relaxed">PHP magic constants are predefined constants, which change based on their use. They start with a double underscore (__) and end with a double underscore (__).



            </p>
                </div>
              </div>
            </div>
          </div>

          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 07</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What does isset() function?</h2>
                  <p class="leading-relaxed">The isset() function checks if the variable is defined and not null.







            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

<div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 08</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Explain PHP parameterized functions.</h2>
                  <p class="leading-relaxed">PHP parameterized functions are functions with parameters. You can pass any number of parameters inside a function. These given parameters act as variables inside your function. They are specified inside the parentheses, after the function name. Output depends upon dynamic values passed as parameters into the function.


            </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container px-10 py-5 mx-auto">
                      <div class="-my-2 divide-y-2 divide-gray-100">
                        <div class="py-2 flex flex-wrap md:flex-nowrap">
                          <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                            <span class="font-semibold title-font text-gray-800 text-2xl">Question 09</span>
                            <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                          </div>
                          <div class="md:flex-grow">
                            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Differentiate between require and include?</h2>
                            <p class="leading-relaxed">Require and include both are used to include a file, but if data is not found include sends warning whereas require sends Fatal error.
          
          
          
                      </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>

                    <div class="container px-10 py-5 mx-auto">
                                <div class="-my-2 divide-y-2 divide-gray-100">
                                  <div class="py-2 flex flex-wrap md:flex-nowrap">
                                    <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                      <span class="font-semibold title-font text-gray-800 text-2xl">Question 10</span>
                                      <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                                    </div>
                                    <div class="md:flex-grow">
                                      <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is PHP session_start() and session_destroy() function?</h2>
                                      <p class="leading-relaxed">PHP session_start() function is used to start the session. It starts new or resumes the current session. It returns the current session if the session is created already. If the session is not available, it creates and returns new sessions
                    
                    
                    
                                </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              



    </section>
</body>