<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Infosys</title>
</head>

<body>

  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="inline-flex justify-start lg:mr-0 ml-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="#" class=""><b>🠔</b>Previous</a>
        </button>
      </div>
      <a class="flex lg:w-4/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 ml-">
        <span class="ml-3 text-xl">Amazon</span>
      </a>
      <div class="inline-flex justify-end lg:ml-0 mr-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="#" class="">Next➞</a>
        </button>
      </div>
    </div>
  </header>
  
  <hr><hr>

    <section class="text-gray-600 body-font overflow-hidden">

        <div class="container px-10 py-5 mx-auto">
          <div class="-my-2 divide-y-2 divide-gray-100">
            <div class="py-2 flex flex-wrap md:flex-nowrap">
              <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-800 text-2xl">Question 01</span>
                <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                    
                </h2>
                <p class="leading-relaxed"></p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 02</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 03</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 04</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 05</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 06</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 07</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 08</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 09</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 10</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"></h2>
                  <p class="leading-relaxed"></p>
                </div>
              </div>
            </div>
          </div>
  
          
  

          

    </section>
</body>