<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Infosys</title>
</head>

<body>

  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="inline-flex justify-start lg:mr-0 ml-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="#" class=""><b>🠔</b>Previous</a>
        </button>
      </div>
      <a class="flex lg:w-4/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 ml-">
        <span class="ml-3 text-xl">IBM</span>
      </a>
      <div class="inline-flex justify-end lg:ml-0 mr-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="wipro.html" class="">Next➞</a>
        </button>
      </div>
    </div>
  </header>
  
  <hr><hr>


    <section class="text-gray-600 body-font overflow-hidden">

        <div class="container px-10 py-5 mx-auto">
          <div class="-my-2 divide-y-2 divide-gray-100">
            <div class="py-2 flex flex-wrap md:flex-nowrap">
              <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-800 text-2xl">Question 01</span>
                <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"> What are the Semaphores?</h2>
                <p class="leading-relaxed">Semaphore is a "procedure synchronization device" or variable or abstract data type which is used to control access to a common resource by multiple processes in a concurrent system such as a multitasking operating system.

                    It assigns two tasks:
                    
                    1.wait (p)
                    2.signal (v)
                    It expresses that if there are numerous processes sharing the same variable, at that point different processes must hold up it until the point when the procedure in the basic area is finished, as the procedure in the basic segment is finished, it sends a flag to alternate procedure to enter the basic segment.</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 02</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is Synchronization?</h2>
                  <p class="leading-relaxed">Synchronization is the procedure by which Data Protection Manager (DPM) exchanges information changes from an ensured record server to a DPM server, and afterward applies the progressions to the copy of the secured information. DPM depends on synchronization to keep imitations synchronized with the ensured information on the document servers.

                </p>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 03</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the virtual memory?</h2>
                  <p class="leading-relaxed">Virtual memory is a memory administration capacity of an OS that utilizes equipment and programming to enable a PC to make up for physical memory deficiencies by briefly exchanging information from irregular access memory (RAM) to plate stockpiling.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 04</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Evaluate a+=a+ ++a if a=20 initially.</h2>
                  <p class="leading-relaxed">a += a+ (++a) is the same as a = a + a + (++a) First thing that happens is that a++ will set a to 21, after that it will calculate: a = a + a + a; 21 + 21 + 21 = 63 so the result is 63.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 05</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is Process Scheduling?</h2>
                  <p class="leading-relaxed">The procedure planning is the action of the procedure director that handles the expulsion of the running procedure from the CPU and the determination of another procedure based on a specific methodology.

                    Process planning is a fundamental piece of Multiprogramming working frameworks. Such working frameworks enable in excess of one procedure to be stacked into the executable memory at once and the stacked procedure shares the CPU utilizing time multiplexing.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 06</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is Base Class and Derived Class? How are these two interrelated?</h2>
                  <p class="leading-relaxed">Derivation (C++ only) Inheritance is implemented in C++ through the mechanism of derivation. Derivation allows you to derive a class, called a derived class, from another class, called a base class. In the declaration of a derived class, you list the base classes of the derived class.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 07</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the advantage of inheritance in OOPS?</h2>
                  <p class="leading-relaxed">The most frequent use of inheritance is for deriving classes using existing classes, which provides reusability. The existing classes remain unaltered. By reusability, the development time of software is reduced. The derived classes extend the properties of base classes to generate more dominant objects.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 08</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is Procedural Programming?</h2>
                  <p class="leading-relaxed">Procedural programming is a programming paradigm that uses a linear or top-down approach. It relies on procedures or subroutines to perform computations.

                    Procedural programming is also known as imperative programming.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 09</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is the Entry Control Loop?</h2>
                  <p class="leading-relaxed">A passage control circle checks the condition at the season of the section and if condition or articulation turns out to be genuine at that point control moves into the body of the circle. Such kind of circle controls passage to the circle that is the reason it is called the section control circle.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 10</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What does Object Oriented Database Management System (OODBMS)?</h2>
                  <p class="leading-relaxed">An object-oriented database management system (OODBMS) is a database management system that supports the creation and modeling of data as objects. OODBMS also includes support for classes of objects and the inheritance of class properties and incorporates methods, subclasses, and their objects.

                    Also called an object database management system (ODMS).</p>
                </div>
              </div>
            </div>
          </div>
  
          
  

          

    </section>
</body>