<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Infosys</title>
</head>

<body>


  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="inline-flex justify-start lg:mr-0 ml-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="wipro.html" class=""><b>🠔</b>Previous</a>
        </button>
      </div>
      <a class="flex lg:w-4/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 ml-">
        <span class="ml-3 text-xl">INFOSYS</span>
      </a>
      <div class="inline-flex justify-end lg:ml-0 mr-5">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="tcs.html" class="">Next➞</a>
        </button>
      </div>
    </div>
  </header>
  
  <hr><hr>



    <section class="text-gray-600 body-font overflow-hidden">

        <div class="container px-10 py-5 mx-auto">
          <div class="-my-2 divide-y-2 divide-gray-100">
            <div class="py-2 flex flex-wrap md:flex-nowrap">
              <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-800 text-2xl">Question 01</span>
                <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Explain the functionality of linked list?</h2>
                <p class="leading-relaxed">A linked list consists of two parts. Information part and the link part. In the single linked list, first node of the list is marked by a unique pointer named as start and this pointer points to the first element of the list, and the link part of each node consists of a pointer pointing to the next node, but the last node of the list has null pointer identifying the last node. The linked list can be traversed easily with the help of Start pointer.</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 02</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is software development life-cycle? Also, explain the waterfall model?</h2>
                  <p class="leading-relaxed">SDLC is a process followed for developing and enhancing software project. It consists of a detailed plan for developing, maintaining a specific software. The life cycle defines a methodology process for improving the quality of software and the overall development process.

                    In "The Waterfall" model, the whole process of software development is divided into separate phases. In this Waterfall model, typically, the outcome of one phase acts as the input for the next phase sequentially.</p>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 03</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What are the four basic principles of OOPS?</h2>
                  <p class="leading-relaxed">The four basic principles of Object-Oriented Programming System are listed below:
                            Abstraction,Inheritance,Encapsulation,Polymorphism.
                    </p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 04</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What are the conditional statements?</h2>
                  <p class="leading-relaxed">The conditional statements can alternatively be called a conditional expression also. Conditional statements are the set of rules which were executed if a particular condition is true. It is often referred to an if-then statement because if the condition is true, then the statement is executed.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>

          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 05</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is Database Management System?</h2>
                  <p class="leading-relaxed">A Database Management System is a software system is used for creating and managing databases. DBMS make it possible for the end user to create and maintain databases. DBMS provides an interface between the end user/application and the databases.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 06</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What do you mean by Object-Relational DBMS?</h2>
                  <p class="leading-relaxed">The object-relational database (ORD) is a database management system (DBMS) that are composed of both an object-oriented database (OODBMS) and a relational database (RDBMS). ORD supports the essential components of an object-oriented database model in its schemas and the query language used, such as inheritance, classes, and objects.

                    An object-relational database is also known as an object-relational database management systems (ORDBMS).
                    
                    </p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 07</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is an IC? What is its importance?</h2>
                  <p class="leading-relaxed">IC refers to integrated circuits sets of electronic circuits on single flat piece semiconductor material, and usually, silicon is used. The integration of a large number of tiny transistors into a small chip results in circuits that are smaller in size and faster than those discrete electronic components. The importance of integrated circuits than the separate electronic components is integrated circuits are smaller in size, faster, low costs than discrete electronic components.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 08</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Which functions are used for memory allocation in C/C++?</h2>
                  <p class="leading-relaxed">The Function calloc() allocates a memory area, and the length will be the product of its parameters(it has two parameters). It fills the memory with ZERO's and returns a pointer to the first byte of the memory. If it fails to locate enough space, Then it returns a NULL pointer.

                    The function malloc() allocates a memory area, and length will be the value entered as a parameter. (it has one parameter). It does not initialize memory area free() used to free the allocated memory(allocated through calloc and malloc), in other words, this used release the allocated memory new also used to allocate memory on the heap and initialize the memory using the constructor delete also used release memory allocated by new operator.</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 09</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is a virtual function and what is the pure virtual function?</h2>
                  <p class="leading-relaxed">Virtual function:- In order to achieve polymorphism, function in base class is declared as virtual, By declare virtual we make the base class pointer to execute the function of any derived class depends on the content of pointer (any derived class address).

                    Pure Virtual Function:- This is a function used in base class, and its definition has to be provided in a derived class, In other pure virtual function has no definition in the base is defined as:
                    
                    virtual void fun()=0;  
                    That means this function not going to do anything, In case of the pure virtual function derived function has to implement the pure virtual function or redeclare it as the pure virtual function</p>
                </div>
              </div>
            </div>
          </div>
  
          <hr>
          <div class="container px-10 py-5 mx-auto">
            <div class="-my-2 divide-y-2 divide-gray-100">
              <div class="py-2 flex flex-wrap md:flex-nowrap">
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-800 text-2xl">Question 10</span>
                  <!-- <span class="mt-1 text-gray-500 text-lg">01</span> -->
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">How abstraction and encapsulation complementary?</h2>
                  <p class="leading-relaxed">Abstraction and encapsulation are complementary because in object-oriented programming classes can only be abstracted if it is encapsulated. The abstraction focuses on the observable behavior of an object, whereas encapsulation focuses on the implementation that gives rise to this behavior.</p>
                </div>
              </div>
            </div>
          </div>
  
          
  

          

    </section>
</body>